@model ResearchGate.Models.Author
@{
    ViewBag.Title = "Register";
}
<link href="~/Content/Designs/FormAccount.css" rel="stylesheet" />

<div class="main-block">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class= "formAccount" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @style = "color: red" })


        <h1 style="text-align: center; padding: 15px;">Registeration</h1>
        <div class="info">
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @style = "color: red" })
            <input class="fname" type="text" name="FirstName" placeholder="First name" autocomplete="off">
            @Html.ValidationMessageFor(model => model.LastName, "", new { @style = "color: red" })
            <input class="lname" type="text" name="LastName" placeholder="Last name" autocomplete="off">

            @Html.ValidationMessageFor(model => model.Username, "", new { @style = "color: red" })
            <input class="lname" type="text" name="Username" placeholder="Username" autocomplete="off">

            @ViewBag.EmailError
            <input type="email" name="Email" placeholder="Email" autocomplete="off">
            @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color: red" })
            <input type="password" name="Password" placeholder="Password" autocomplete="off">
            @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color: red" })
            <input type="text" name="University" placeholder="University" autocomplete="off">
            <input type="text" name="Department" placeholder="Department," autocomplete="off">
            <input type="text" name="Mobile" placeholder="Phone number" autocomplete="off">



            Upload Profile Picture: <input type="file" name="ProfileImage">
        </div>
        <input type="submit" class="submitButton" name="submit" value="Register" />
    }


</div>
