@model ResearchGate.ViewModels.AuthoPaperViewModel
@{
    ViewBag.Title = "Index";
    var mod = Model.Authors.Zip(Model.Papers, (n, w) => new { Author = n, Paper = w });
}
<link href="~/Content/SharedCss/search.css" rel="stylesheet" />

@if (mod?.Any() == true)
{

<table class="searchTable">
    <tr>
        <th>Username</th>
        <th>University</th>
        <th>Email</th>
        <th>Paper Name</th>
        <th>Approve</th>
        <th>DisApprove</th>
    </tr>
    @foreach (var item in mod)
    {

        using (Html.BeginForm("ResponseToRequest", "Requests", FormMethod.Post))
        {
            <input type="hidden" name="SenderId" value="@item.Author.AuthorId" />
            <input type="hidden" name="PaperId" value="@item.Paper.PaperId" />

            <tr>
                <td><a href="/profile/@item.Author.Username">@item.Author.Username</a></td>
                <td>@item.Author.University</td>
                <td>@item.Author.Email</td>
                <td>@item.Paper.PaperName</td>


                <td><input type="submit" name="Status" value="Approve" /></td>
                <td><input type="submit" name="Status" value="Refuse" /></td>
            </tr>
        }


    }

</table>

    

}
else
{
<p>There is no requests</p>
}
